Repository iitiansd/codecov-dirpoc: changes, and which Codecov flags are due for each by the changed paths.
All: Scripts v2, Python v2 Libraries, Test Scheduler, DAG Scheduler, DAG Service, Export API Service, Java Logging Client, Conversational Email, Email Service, Email Scheduler

delete ignore file tests
  .coverage
  services/dummy_service_ignore_me/tests/__init__.py
  services/dummy_service_ignore_me/tests/test_app.py
Due: none

ignore 2
  .codecov.yml
Due: none

test count
  .github/workflows/codecov.yml
  junit.xml
Due: none

ignore
  .codecov.yml
Due: none

ignore fix 1
  .codecov.yml
  .coverage
Due: none

ignore files
  .codecov.yml
  .coverage
Due: none

email service add func
  .coverage
  services/email_service/app.py
Due: Email Service

poc ignore files no conflit
  .codecov.yml
  .coverage
  services/dummy_service_ignore_me/__init__.py
  services/dummy_service_ignore_me/app.py
  services/dummy_service_ignore_me/tests/__init__.py
  services/dummy_service_ignore_me/tests/test_app.py
  services/email_service/app.py
Due: Email Service

check all dir level
  .codecov.yml
Due: none

flag test 1
  .codecov.yml
  .coverage
  .coveragerc
  .github/workflows/codecov.yml
  coverage-email-service.xml
  coverage-python-v2.xml
  coverage-schedulers.xml
  coverage-scripts-v2.xml
Due: none

java tests
  java-libs-v2/api-logging-client/pom.xml
  java-libs-v2/api-logging-client/src/main/java/com/example/LoggingClient.java
  java-libs-v2/api-logging-client/src/test/java/com/example/LoggingClientTest.java
Due: Java Logging Client

java tests yml files
  .codecov.yml
  .github/workflows/codecov.yml
Due: none

testing ignore at global level
  .codecov.yml
  services/email_service/app.py
Due: Email Service

scheduker and email
  .codecov.yml
  .coverage
  python_v2/__init__.py
  schedulers/__init__.py
  schedulers/email_scheduler/tests/__init__.py
  schedulers/simple_job_scheduler/scheduler.py
  scripts_v2/__init__.py
  services/__init__.py
Due: Scripts v2, Python v2 Libraries, Email Scheduler

ignore and enable service global lvel
  .codecov.yml
  .coverage
  services/email_service/app.py
  services/reporting_service/app.py
Due: Email Service

component ignore
  .codecov.yml
Due: none

exclude path level 1
  .codecov.yml
  .coveragerc.reporting_service
  .coveragerc.services
  .github/workflows/codecov.yml
  services/email_service/__init__.py
  services/email_service/app.py
  services/email_service/tests/__init__.py
  services/reporting_service/app.py
Due: Email Service

IndentationError fix reportservice
  services/reporting_service/app.py
Due: none

build fix 2
  .coveragerc.reporting_service
  .coveragerc.services
  .github/workflows/codecov.yml
  services/email_service/tests/test_app.py
Due: none

build fix 3
  .github/workflows/codecov.yml
Due: none

build fix 5
  .github/workflows/codecov.yml
Due: none

build fix 6
  .github/workflows/codecov.yml
Due: none

build fix 7
  .coveragerc.reporting_service
  .coveragerc.services
Due: none

uploading utils cov not main
  .github/workflows/codecov.yml
  schedulers/xyz/__init__.py
  schedulers/xyz/main.py
  schedulers/xyz/tests/__init__.py
  schedulers/xyz/tests/test_utils.py
  schedulers/xyz/utils.py
Due: none

syntax fix
  .github/workflows/codecov.yml
Due: none

syntax fix2
  .github/workflows/codecov.yml
Due: none

build fix
  schedulers/__init__.py
  schedulers/xyz/tests/test_utils.py
Due: none

build fix2
  .github/workflows/codecov.yml
Due: none

build fix3
  .github/workflows/codecov.yml
Due: none

build fix4
  .github/workflows/codecov.yml
Due: none

build fix5
  .github/workflows/codecov.yml
Due: none

build fix6
  .github/workflows/codecov.yml
Due: none

testing diable github coverage
  .codecov.yml
Due: none

testing diable github coverage in comments
  .codecov.yml
Due: none

Component level checks
  .codecov.yml
  services/email_service/app.py
Due: Email Service

Path conditions:
  Scripts v2: any of: scripts_v2/**
  Python v2 Libraries: any of: python_v2/**
  Test Scheduler: any of: schedulers/test_scheduler/**
  DAG Scheduler: any of: schedulers/dag_scheduler/**
  DAG Service: any of: services/dag/**
  Export API Service: any of: services/exportapi/**
  Java Logging Client: any of: java-libs-v2/api-logging-client/**
  Conversational Email: any of: services/conversational-email/**
  Email Service: any of: services/email_service/**/*.py, but not: services/email_service/tests/**
  Email Scheduler: any of: schedulers/email_scheduler/**
